<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration SYSTEM 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   <property name="hbm2ddl.auto">update</property>  
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>   
   <property name="connection.pool_size">1</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

   <!-- Assume hams is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/hams
   </property>
  
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      1234
   </property>

   <!-- List of XML mapping files -->
   <mapping resource="appointment.hbm.xml"/>
   <mapping resource="user.hbm.xml"/>

</session-factory>
</hibernate-configuration>
